$branco: #1cec4c
$azul: #272575
$largura: 320px
$tamfonte: 30px

*
    margin: 0
    padding: 0
    border: 0

h1
    color: $azul
    width: $largura
    font-size: $tamfonte

.caixa
    width: 100%
    padding: 2% 3%
    background-color: orange
